*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	font-family: Yeseva One;
	color: #fff;
}
body{
    background-color:#1f1f35;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	color: #fff;
}
body::before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width:  100%;
	height: 100%;
	background-color: #4db5ff ;
	clip-path: circle(18% at right 70%);
}
body::after{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #4db5ff ;
	clip-path: circle(20% at 10% 10%);
	
}
.container{
	position: relative;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	z-index: 1;
	
}
.container .head{
	position: absolute;
	margin-top: 30px;
	margin-left: 1100px;
	width: 250px;
	box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
	height: 70px;
	overflow: hidden;
	border-radius: 10px;
	
}
.content ul{
	position: absolute;
	display: inline-flex;
	padding: 18px 35px;
	transition: 0.4s;
}
.content ul li {
	position: relative;
	padding: 10px;
}
.content ul li:hover{
	color: #4db5ff ;
}
.fit{
	margin: 250px 270px ;
	text-align: center;
	font-size: 30px;
}
.tit{
	margin-left: 830px;
	margin-top: -420px;
}
.tit img{
	border-radius: 100%;
}
.about{
	margin-top: 300px;
	padding: 15px;
	padding-left: 40px;
	margin-left: 20px;
}
.about p {
	color: black;
}
.about img{
	width: 250px;
	margin-bottom: 150px;
	height: 300px;
	padding: 65px;
	cursor: pointer;
	
}
 
.about h1{
	text-align: center;
    margin: 0 auto 100px;
    position: relative;
    line-height: 60px;
    margin-bottom: -25px;

}
.about h1:hover{
	color: #4db5ff;
	transition: transform 10s;
}
.about h1::after{
    content: '';
	background-color: #4db5ff ;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position:absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.about p{
	font-size: 45px;
	text-align: center;
	margin-left: 100px;
	color: #fff;
	margin-top: -150px;
}
.in{
	margin-top: 200px;
	font-size: 30px;
	font-weight: 300px;
	text-align: center;
}
.in {
	background-color: black;
	width: 110%;
	height: 160%;
}
.in ul{
	padding: 2px;
}
.in ul li:hover{
	color: #4db5ff;
	text-shadow: black;
}





